// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import 'styles/helpers/variables';

.sku-about-us {
  font-size: 0.8rem;

  a {
    color: $color-link;
    outline: none;

    &:hover {
      text-decoration: underline !important;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .sku-header span,
  .sku-footer span {
    display: block;
  }

  .sku-header {
    margin-bottom: 30px;
  }

  .sku-footer {
    margin-top: 30px;
  }

  .sku-label {
    font-weight: bold;
  }

  .sku-item {
    font-weight: normal;
  }
}
