// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import 'styles/helpers/variables';

.sku-toolbar {
  position: fixed;
  z-index: 1000;
  width: 64px;
  min-width: 64px;
  height: 100%;
  color: #fff;
  background-color: $saiku-color-primary;

  .sku-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89px;
    margin: 0 0 23px 0;
    border-right: 1px solid rgba(#fff, 0.04);
    border-bottom: 1px solid rgba(#fff, 0.04);
    background-color: $saiku-color-secondary;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a,
    button {
      display: block;
      width: 64px;
      padding: 9px 0;
      color: #fff;
      cursor: pointer;
      text-align: center;
    }

    li {
      margin: 0 0 20px 0;
    }
  }

  strong {
    display: none;
  }

  .sku-toolbar-bottom {
    @media (min-width: $media-lg) {
      position: absolute;
      bottom: 0;
    }
  }

  .navigation {
    display: none;

    @media (max-width: $media-lg) {
      display: block;
    }
  }
}

.sku-toolbar-inner {
  width: 64px;

  @media (min-width: $media-lg) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
