// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import 'styles/helpers/variables';

.sku-navigation {
  > strong {
    display: block;
    margin: 0 0 5px 0;
    padding: 0 14px;
    font-size: 11px;
    line-height: 41px;
    opacity: 0.8;
    text-transform: uppercase;
  }

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin: 0 0 8px 0;

      a {
        display: block;
        padding: 10px 14px;
        line-height: 20px;
        transition: all 0.2s ease;

        &.active {
          color: $color-font;
          border-radius: 2px;
          background-color: rgba(#000, 0.04);
        }

        &:hover {
          color: $color-font;
          border-radius: 2px;
          background-color: #e4e8ed;
        }

        .bp3-icon {
          margin: 0 10px 0 0;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }
      }
    }
  }
}
