// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.sku-sidebar-title-wrapper {
  font-size: 20px;
  font-weight: 400;

  .sku-sidebar-title-inner {
    margin: -20px -10px 20px -10px;
    padding: 20px 22px 16px 22px;
    border-bottom: 1px solid rgba(#000, 0.03);

    .sku-sidebar-title {
      margin: 0 0 1px 0;
      line-height: 52px;
    }
  }
}
