// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import 'styles/helpers/variables';

.sku-page-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: $saiku-color-secondary;

  .sku-page-empty-content {
    width: 400px;
  }

  .sku-page-empty-container {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
  }

  .sku-page-water-mark {
    position: absolute;
    right: 25px;
    bottom: 25px;
    opacity: 0.4;
  }
}
