// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.sku-workspace-footer {
  width: calc(100% - 64px) !important;
  height: 30px !important;
  font-size: 0.8rem;
  line-height: 30px !important;

  .antd-pro-footer-toolbar-left {
    width: 50%;
  }

  .sku-footer-toolbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;

      .link-button {
        &:hover {
          outline: 3px solid #e4e8ed;
          background-color: #e4e8ed;
        }

        &:active,
        &:focus {
          outline: 0;
          background-color: inherit;
        }
      }
    }
  }
}
