// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

$measure-text-color: #983030;
$measure-border-color: #ed9393;
$measure-bg-color: #ffe8e8;
$measure-cursor-not: no-drop;

.sku-measures-tree {
  .sku-measure-item {
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;

    &.ui-draggable-dragging {
      color: $measure-text-color !important;
      border: 1px solid $measure-border-color !important;
      background: $measure-bg-color !important;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fcf5f5),
        to(#fad9d9)
      ) !important;
      background: -moz-linear-gradient(
        top,
        #fcf5f5 0%,
        #fad9d9 100%
      ) !important;
      text-align: left !important;

      .sku-measure-data {
        color: $measure-text-color !important;
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
        cursor: grabbing !important;
      }
    }

    &.ui-draggable-disabled {
      cursor: $measure-cursor-not !important;

      span {
        cursor: $measure-cursor-not !important;

        .sku-measure-data {
          color: #ccc;
          cursor: $measure-cursor-not !important;
        }
      }
    }

    .sku-measure-data {
      color: $measure-text-color;
      cursor: -webkit-grab !important;
      cursor: -moz-grab !important;
      cursor: grab !important;
    }
  }
}
