// Copyright 2012-present OSBI Ltd
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import 'styles/helpers/variables';

.sku-user-form-dialog {
  .ant-select {
    .ant-select-selection {
      &:hover {
        border-color: #d9d9d9 !important;
      }
    }
  }

  .ant-select-open {
    .ant-select-selection {
      border: 1px solid $saiku-color !important;
      box-shadow: 0 0 0 1px $saiku-color !important;

      &:hover {
        border: 1px solid $saiku-color !important;
        box-shadow: 0 0 0 1px $saiku-color !important;
      }
    }
  }
}
